{% load widget_tweaks %}
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static '/css/main.css' %}">

<div class="row"><div class="col-md"><br></div></div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md">
        <form class="card" action="" method="POST">
            {% csrf_token %}
            <div class="card-body  p-4">
                <h3 class="card-title text-center ">Register Form</h3>
                 
                <div class="form-group">
                    <label class = "form-label">First Name:</label>
                    {% render_field form.name class="form-control" placeholder="Enter first name .."  %}
                </div>
                 
                <div class="form-group">
                    <label class = "form-label">Last Name:</label>
                    {% render_field form.phone class="form-control" placeholder="Enter last name .."  %}
                </div>
                 
                <div class="form-group">
                    <label class = "form-label">Email:</label>
                    {% render_field form.email type="email" class="form-control" placeholder="Enter Email Here"  %}
                </div>
                <div class="form-group">
                    <label class = "form-label">Passowrd:</label>
                    {% render_field form.password1 type="password" class="form-control" placeholder="Enter Password"  %}
                </div>
                <div class="form-group">
                    <label class = "form-label">Confrim Passowrd:</label>
                    {% render_field form.password2 type="password" class="form-control" placeholder="Confrm Password "  %}
                </div>                                                                     
        
                <input class="btn btn-block btn-info" type="submit" name="Create">                
            </div>
 
        </form>
    </div>
    <div class="col-md-4"></div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>